.link{
    background-color:darkblue ;
    color: cyan;
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2rem;
}
hr{
    margin: 2rem;
}
.box{
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
}
 h1{
     display: inline;
 }